#statemachine {
	position: absolute;
	top: 80px;
	left: calc(100% + 50px);
	height: calc(100% - 80px);
	width: 100%;
	transition: all 0.5s ease;
}

#drawing_area {
	width: calc(66% - 25px);
	height: calc(90% - 20px);
	padding: 0;
	border: none;
	background-color: #eee;
}